debug/**
release/**
profile/**
compile_commands.json
scripts/__pycache__/**
scripts/insts/__pycache__/**
spike
.vscode/**
mavis_json
riscv-tests
IDE/backend/__pycache__/**
IDE/editor/__pycache__/**
.spike_commit_log
clang-format-files.out
gen/
