[submodule "mavis"]
	path = mavis
	url = git@github.com:sparcians/mavis.git
[submodule "elfio"]
	path = elfio
	url = git@github.com:serge1/ELFIO.git
[submodule "softfloat"]
	path = softfloat
	url = git@github.com:sparcians/berkeley-softfloat-3
